.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

body {
  padding: 0;
  margin: 0;
}
 .main {
   display: flex;
   height: 100vh;
   padding: 0;
   margin: 0;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }

 .left {
   width: 57%;
   display: flex;
   align-items: center;
 }

 form input {
   border: none;
   border-radius: 5px;
   padding: .4rem;
 }
 .right {
   width: 30%;
   background-color: black;
   display: flex;
   align-items: center;
   position: relative;
 }
 .middle {
   width: 13%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   flex-direction: column;
   font-size: 2rem;
   margin: 1rem;
 }

 .btns {
  display: flex;
  align-items:flex-end;
  flex-direction: column;
 
 }

 .btns button {
  margin: 5px;
  padding: 10px;

 }

 .degrees {
   display: flex;
   transform:rotate(90deg);
   position: absolute;
   left:0;
   float: left;
   color: white;
   align-items: left;
   font-size: 6.8rem;
   font-weight: 600;
   letter-spacing: 1mm;
 }

 #temperature {
   font-size: 8rem;
   padding: 0;
   margin: 0;
 }

 .current_temperature {
  background-color: red;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8.5rem;
  height: 2.5rem;
  padding: .2rem;
  border-radius: 5px;
  justify-content: space-around;
 }

 .temperature-button {
   border: none;
   background-color: white;
   font-size: 2rem;
 }

 .PSM-text {
   font-size: 1.25rem;
 }

 #powersaving-on {
  border: none;
  background-color: white;
  font-size: 1.25rem;
  border: 2px solid black;
  border-radius: 10px;
 }

 #powersaving-off {
  border: none;
  background-color: white;
  font-size: 1.25rem;
  border: 2px solid white;
  border-radius: 10px;
 }
